{#
	Common definitions inserted at the top of every rendered `.less` file.
#}
{# Create palettes. #}
{% for name, palette in config.styling.palettes.items() %}
	{% for color_name, color in palette.items() %}
		@{{ name }}_{{ color_name }}: {{ color }};
	{% endfor %}
{% endfor %}

{# Create breakpoints. #}
{% for px in config.styling.breakpoints %}
	@breakpoint_{{ loop.index }}: {{ px }}px;
{% endfor %}

{# Create font references. #}
{% for font_ref, font in config.styling.fonts.items() %}
	@{{ font_ref }}_font: {{ font }};
{% endfor %}

{# Add font dependencies. #}
{% for font_name, font_file in config.client_dependencies.font_dependencies.items() %}
	@font-face {
		font-family: "{{ font_name }}";
		src: url("{{ h.asset_url('fonts/%s'%font_file) }}");
	}
{% endfor %}
