{#
	The base template defines the underlying document structure and populates 
	common metadata.

	The base template can be modified and/or extended by plugins using the
	`overlays` tag.

	Its blocks include:
	* `logic` for performing pre-render logic and modifying the `title` and 
		`description` metadata.
	* `html_attributes`, `head_attributes`, and `body_attributes` for 
		specifying attributes on each of the respective tags. Beware
		whitespace when populating these.
	* `head` and `body` for overriding the default contents of those tags.
	* `header` and `content` for populating the page header and content.
	* `meta_body` for including in-body metadata.
	* `templates` for defining client side Toolkit templates.
#}
{% import 'common.jinja' as c with context %}
{% import 'forms.jinja' as f with context %}

{% block logic %}{% endblock %}

<!DOCTYPE html>
<html lang="en" {% if config.debug %}cv-debug="true"{% endif %}{% block html_attributes %}{% endblock %}>
	<head {% block head_attributes %}{% endblock %}>
		{% block head %}
			{#
				Document head contents.
			#}
			<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<title>{{ title|default('%s - %s'%(config.name, __page__.title)) }}</title>
			<meta name="description" content="{{ description|default(config.description|normalize_whitespace) }}">
			<link rel="icon" type="image/png" href="{{ h.asset_url('media/site_icon.png') }}"/>
			
			{# Render dependencies. #}
			{% macro render_dependencies(deps, is_lib) %}
				{% for dep in deps %}
					{% if is_lib %}
						{% set dep = 'lib/%s'%dep %}
					{% endif %}
					{% if dep.endswith('.css') %}
						<link rel="stylesheet" type="text/css" href="{{ h.asset_url(dep) }}">
					{% elif dep.endswith('.js') %}
						<script type="text/javascript" src="{{ h.asset_url(dep) }}"></script>
					{% endif %}
				{% endfor %}
			{% endmacro %}

			{{ render_dependencies(__page__.library_dependencies, True) }}
			{{ render_dependencies(__page__.dependencies, False) }}
			{# Render icon dependency. #}
			<link rel="stylesheet" type="text/css" href="{{ h.asset_url('lib/%s'%config.client_dependencies.icon_dependency) }}">
		{% endblock %}
	</head>
	<body cv-route="{{ __page__.route }}" {% block body_attributes %}{% endblock %}>
		{% block body %}
			<div class="page">
				{#
					The visible page contents.
				#}
				<header class="header">
					{% block header %}{% endblock %}
				</header>
				<div class="content">
					{% block content %}{% endblock %}
				</div>
				{# Create flash message. #}
				{% set flash_message = h.get_flash_message() %}
				{% set no_flash = flash_message is none %}
				<aside class="flash-message {% if no_flash %}hidden{% endif %}">
					{% if not no_flash %}
						{{ flash_message }}
					{% endif %}
				</aside>
			</div>
			<div class="meta-body">
				{#
					The meta-body.
				#}
				{% block meta_body %}{% endblock %}
			</div>
		{% endblock %}
	</body>
</html>