//	The base style definitions, including helpers for common layout needs.
//	Specificity is minimized to allow plugin styles to always take precedence.

//	Clear U.A.
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container(){
	width: 100%;
	height: 100%;
	background-color: @background;
}

html {
	.container();
	
	body {
		.container();
		//position: relative;
		color: @text;

		font-family: @text-font;
		font-size: 12pt;

		& > .meta {
			display: none;
		}
	}
}

[cv-event] {
	cursor: pointer;
}

a {
	color: @link;

	&:not(.button):visited {
		color: @visited-link;
	}

	&.clear {
		text-decoration: none;
		color: @text;
	}
}

//	Paragraph styles.
p {
	margin: 1em 0px;
	font-size: 12pt;
	line-height: 1.4;
	color: @text;
}

ul, ol {
	margin-left: 1.5em;
}

p, li {
	line-height: 1.5;
}

.subtext {
	color: @subtext;
	font-size: 10pt;
}

//	Heading styles.
h1, h2, h3, h4 {
	margin: 0.75em 0em;
	font-size: 40pt; 
	font-weight: normal;
	font-family: @title-font;
	color: @title;
}
h2 { font-size: 25pt; }
h3 { font-size: 18pt; }
h4 { font-size: 16pt; }

//	Form styles.
.error-summary {
	color: @error;
}

.field {
	margin-bottom: 2em;

	.icon {
		width: 2.5em;
		padding-left: 0px;
		margin-right: 1em;
		font-size: 16pt;
	}

	.label {
		display: inline-block;
		width: 100px;
		margin-right: 1em;
		text-align: left;
	}

	.error-desc {
		display: none;
		margin-top: 0.5em;
		max-width: 40em;
		text-align: left;
	}

	&.error {
		margin-bottom: 1em;

		input, textarea {
			border: 2px solid @error;
		}

		.error-desc {
			display: inline-block;
		}
	}
	
	&.textarea {
		.icon, .label {
			vertical-align: top;
		}
	}

	input,
	select,
	textarea {
		height: 40px;
		max-width: 450px;
		padding: 0px 10px;
		outline: none;
		border: none;
		font-size: 12pt;
		vertical-align: top;
		color: @text;
		background-color: @input;
		transition: color .5s, background-color .5s;

		&.error-highlight {
			background-color: @error;
		}

		&:hover {
			background-color: @focused-input;
		}
	}

	//	Field-type specific styles.
	textarea {
		height: 200px;
		padding: 10px;
	}

	.checkbox-wrap {
		display: inline-block;
		max-width: 450px;
		height: 40px;
		text-align: left;

		input[type="checkbox"] {
			position: relative;
			top: 5px;
			height: 18px;
			width: 30px;
			margin: 0px;
		}
	}
	
	.form-width {
		max-width: 450px;
	}

	//	Field component scaling mixins based on icon/label/error border
	//	presence.
	.field_variant(@sel, @lwidth){
		&.@{sel} {
			input:not([type="checkbox"]), select, textarea, .form-width, .checkbox-wrap {
				width: e('calc(100% - ')@{lwidth}e('px)');
			}
		}
	}

	.field_variant_error(@sel, @lwidth){
		&.@{sel} .error-desc {
			width: e('calc(100% - ')@{lwidth}e('px)');
			margin-left: @{lwidth}px;
		}
	}

	.field_variant('iconed:not(.labeled)', 50);
	.field_variant_error('iconed.error:not(.labeled)', 54);
	.field_variant('labeled:not(.iconed)', 130);
	.field_variant_error('labeled.error:not(.iconed)', 134);
	.field_variant('iconed.labeled', 180);
	.field_variant_error('labeled.iconed.error', 184);
}

//	Modal styles.
.modal {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: default !important;

	.panel {
		display: inline-block;
		position: relative;
		padding: 10px;
		top: 50%;
		left: 50%;
		background-color: @background;
		transform: translate(-50%, -50%);
		cursor: default;

		.closer {
			cursor: pointer;
			float: right;
		}
	}

	//	TODO: What is this style.
	.error .error-desc {
		display: block !important;
	}
}

//	Visiblity modifiers.
.invisible {
	visibility: hidden !important
}
.hidden {
	display: none !important;
}

//	Text-alignment modifier.
.align-right {
	text-align: right !important;
}
.align-left {
	text-align: left !important;
}
.align-center {
	text-align: center !important;
}

//	Default mixin classes.
.inline-block {
	display: inline-block;
}

//	Spacing.
.padding {
	padding: 8px;
}
.margin {
	margin: 8px;
}

.indent, 
.indent-left {
	margin-left: 15px;
}
.indent-right {
	margin-right: 15px;
}

//	Buttons and button groups.
.button {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	margin-right: 10px;
	padding: 0px 15px;
	font-size: 15pt;
	line-height: 40px;
	color: @background;
	background-color: @theme1;
	border-bottom: 4px solid @theme1;
	transition: .1s color;
	text-align: center;
	text-decoration: none;
	
	&.confirm {
		background-color: @success;
	}
	&.cancel {
		background-color: @error;
	}

	&.texted:not(.icon-right) .icon {
		margin-right: 10px;
	}
	&.texted.icon-right .icon {
		margin-left: 10px;
	}

	&.open {
		background-color: @theme2;
	}
	
	&:hover {
		cursor: pointer;
		border-bottom: 4px solid @theme2;
	}

	&.small {
		height: 25px;
		font-size: 10pt;
		line-height: 25px;
	}
}

//	Button groups.
.control-group,
.control-group-left {
	text-align: left;
}
.control-group-right {
	text-align: right;

	.button {
		margin-left: 0px;
		margin-right: 10px;
	}
}

//	Icon-only buttons.
.event-icon {
	width: 10px;
	vertical-align: middle;
	margin: 0px 10px;
	font-size: 12px;
	text-decoration: none;
	color: @subtext;
	transition: color 0.5s;
	
	&:hover {
		color: @highlight;
	}
}

//	Root page contents.
.row {
	width: 100%;
	position: relative;
}

.component {
	display: inline-block;
	vertical-align: top;
	padding: 15px;
	margin: 15px;
	background-color: @background;
	overflow-wrap: break-word;

	&.flat {
		background-color: inherit;
	}

	&.col-12 {
		width: e('calc(100% - 30px)');
	}
	&.col-9 {
		width: e('calc(75% - 30px)');
	}
	&.col-8 {
		width: e('calc(66.6666666666% - 30px)');
	}
	&.col-6 {
		width: e('calc(50% - 30px)');
	}
	&.col-5 {
		width: e('calc(41.6666666666% - 30px)');
	}
	&.col-4 {
		width: e('calc(33.333333333333% - 30px)');
	}
	&.col-3 {
		width: e('calc(25% - 30px)');
	}

	@media screen and (max-width: @breakpoint1){
		&.col-12,
		&.col-9 {
			width: e('calc(100% - 30px)');
		}
		
		&.col-6 {
			width: e('calc(66.66666666% - 30px)');
		}

		&.col-4 {
			width: e('calc(50% - 30px)');
		}
		
		&.col-3 {
			width: e('calc(33.333333% - 30px)');
		}
	}

	@media screen and (max-width: @breakpoint2) {
		&.col-6 {
			width: e('calc(100% - 30px)');
		}
		
		&.col-3 {
			width: e('calc(50% - 30px)');
		}
	}

	@media screen and (max-width: @breakpoint3) {
		&.col-4,
		&.col-3 {
			width: e('calc(100% - 30px)');
		}
	}
}

//	Preformatted.
pre {
	padding: 15px;
	text-align: left;
	overflow-x: auto;
	color: @text;
	background-color: @input;

	code {
		display: inline-block;
		font-size: 10pt;
		width: 100%;
	}
}

code {
	background-color: @input;
}

//	Tooltip area.
.tooltip {
	display: inline-block;
	position: absolute;
	z-index: 1000;
	font-size: 10pt;
	max-width: 350px;
	padding: 3px 5px;
	padding-bottom: 0px;
	border-radius: 2px;
	background-color: @highlight;
	color: @background;
	transform: translateY(-100%);

	&::after {
		content: "";
		display: inherit;
		position: relative;
		bottom: -5px;
		width: 0px; 
		height: 0px; 
		line-height: 0px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid @highlight;
	}
}

//	Message area.
.flash-message {
	display: inline-block;
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: 20px;
	padding: 10px;
	background-color: @highlight;
	color: @background;
	z-index: 1000;
}

.dnd {
	&.target {
		cursor: -webkit-grab;
		cursor: grab;
	}

	&.drag {
		pointer-events: none;
		position: fixed;
		opacity: 0.5;
	}
}