{% page %}

{% set title = 'Welcome' %}

{% block styles %}
	{% set style = '''
		.page {
			height: 100% !important;
			
			.row {
				position: relative;
				top: 50%;
				transform: translateY(-50%);

				.welcome {
					display: inline-block;
					width: 400px;
			
					h3 {
						display: inline-block;
						height: 100px;
						line-height: 100px;
			
						img {
							padding: 0px 10px;
							vertical-align: middle;
							height: 70px;
							display: inline-block;
						}
					}
			
					p {
						text-align: left;
					}
				}
			}
		}
	'''|less %}
	<style type="text/css">
		{{ style }}
	</style>
{% endblock %}

{% block page %}
	<div class="row align-center">
		<div class="welcome">
			<h3><img src="{{ h.asset_url('media/canvas_logo.svg') }}"/> is running</h3>
			<hr>
			<p class="subtext">
				This is a default welcome page for the canvas framework.
			</p>
			<p class="subtext">
				If you are seeing this page on a production website, contact
				your server administrator.
			</p>
		</div>
	</div>
{% endblock %}
